.tab-content #model {
  section.scripts {
    margin-top: 32px;
    hr {
      background-color: #eaeaea;
    }
    .accordion {
      background-color: #fff;
      border: none;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 16px 0;
      color: $blue;
      &:focus {
        outline: none;
      }
      i {
        margin-left: auto;
      }
    }
    .panel {

      textarea {
        background-color: #f7f7f7;
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 4px;
        text-align: left;
        font-family: 'Source Code Pro', monospace;
        padding: 16px 32px;
      }
    }
  }
}
